<!DOCTYPE html>
<html lang="{{ site.lang }}">

<!-- Head -->

<head>
  {%- if page.redirect -%}
  <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
  <style>
    .navbar-toggler .icon-bar{
      background-color: black !important; 
    }
    .navbar-nav > a, .navbar-nav > li > a { 
      color: black !important; 
    }
    .navbar-nav > .active > a, .navbar-nav > li > a:hover { 
      color: #697cc4!important; 
    }
    .navbar {
      background-color: rgba(0, 0, 0, 0) !important;
    }
  </style>
</head>

<!-- Body -->

<body class="{% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
  <!-- Header -->
  <section class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} about">
    <div class="container">
        <header>
          <h1 class="staatliches" style="color:white">
            {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name
            }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <h5 class="staatliches" style="color:white">{{ page.subtitle }}</h5>
        </header>
    </div>
  </section>
  {%- include header.html %}
  <div class="container mt-5 ">

    <!-- Content -->
    <!-- about.html -->
    <div class="post">

      <article>
        <div class="clearfix" style="text-align: justify;">
          {{ content }}
        </div>

        <!-- News -->
        {% if page.news and site.announcements.enabled -%}
        <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
        {%- include news.html limit=true %}
        {%- endif %}

        <!-- Latest posts -->
        {% if page.latest_posts -%}
        <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
        {%- include latest_posts.html %}
        {%- endif %}

        <!-- Selected papers -->
        {% if page.selected_papers -%}
        <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
        {%- include selected_papers.html %}
        {%- endif %}

        <!-- Social -->
        {%- if page.social %}
        <div class="social">
          <div class="contact-icons">
            {% include social.html %}
          </div>

          <div class="contact-note">
            {{ site.contact_note }}
          </div>

        </div>
        {%- endif %}
      </article>
    </div>
  </div>
  <!-- Footer -->
  {%- include footer.html %}

  <!-- JavaScripts -->
  {% include scripts/jquery.html %}
  {% include scripts/bootstrap.html %}
  {% include scripts/masonry.html %}
  {% include scripts/misc.html %}
  {% include scripts/badges.html %}
  {% include scripts/mathjax.html %}
  {% include scripts/analytics.html %}
</body>

</html>